{% extends "layout.html" %}
{% block title %}My Prescriptions{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
<h1>My Prescriptions</h1>
<p class="important">
	Welcome to the My Prescriptions page.  You can view your prescriptions here.
</p>
<p>You are currently logged in as {{ user.username }}.</p>
<p>Here are your prescriptions:</p>
<table>
	<tr>
		<th>Prescription ID</th>
		<th>Medication</th>
		<th>Quantity</th>
	</tr>
	{% for prescription in prescriptions %}
	<tr>
		<td>{{ prescription[0] }}</td>
		<td>{{ prescription[5] }}</td>
		<td>{{ prescription[3] }}</td>
	</tr>
	{% endfor %}
{% endblock %}
