{% extends "layout.html" %}
{% block title %}Portal{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
<h1>Portal</h1>
<p class="important">
Welcome to meditech {{ name }}!
</p>
<a href="https://auth.meditech.com/logout">
	<button type="button" class="btn btn-primary">Logout</button>
</a>
{% if user %}
	<a href="https://care.meditech.com/">
		<button type="button" class="btn btn-primary">CareConnect</button>
	</a>
	<a href="https://prescriptions.meditech.com">
		<button type="button" class="btn btn-primary">Prescriptions</button>
	</a>
	<a href="https://auth.meditech.com">
		<button type="button" class="btn btn-primary">My Account</button>
{% endif %}
{% if finance %}
	<a href="https://fincare.meditech.com">
		<button type="button" class="btn btn-primary">Finance</button>
	</a>
{% endif %}
{% if medicalStaff or hr %}
	<a href="https://records.meditech.com">
		<button type="button" class="btn btn-primary">Records</button>
	</a>
{% endif %}
{% if staff %}
	<a href="https://cloud.meditech.com">
		<button type="button" class="btn btn-primary">Cloud</button>
	</a>
{% endif %}
{% endblock %}
