{% extends "layout.html" %}
{% block title %}Admin - Applications{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
<h1>Applications</h1>
<p class="important">Welcome to the admin applications page.</p>
<h2>You are logged in as {{ user.username }}</h2>
<h2>Applications</h2>
<table>
	<tr>
		<th>Application Name</th>
	</tr>
	{% for application in applications %}
	<tr>
		<td>{{ application[1] }}</td>
	</tr>
	{% endfor %}
</table>
<form action="{{ url_for('add_application') }}" method="post">
	<h2>Add Application</h2>
	<p><label for="name">Application Name:</label><input type="text" name="name" id="name" /></p>
	<p><label for="key">Application Key:</label><input type="text" name="key" id="key" /></p>
	<p><input type="submit" value="Add Application" /></p>
</form>
{% endblock %}
