{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
<form action="{{url_for('login')}}" method="post">
		<input type="text" name="username" placeholder="Username" />
		<input type="password" name="password" placeholder="Password" />
		{% if sso_token %}
			<input type="hidden" name="sso_token" value="{{ sso_token }}" />
		{% endif %}
		<input type="submit" value="Login" />
</form>
{% if sso_token %}
<a href="{{url_for('register_page')}}?token={{ sso_token }}">Register</a>
{% else %}
<a href={{url_for('register_page')}}>Register</a>
{% endif %}
{% endblock %}

